.calculator {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.section {
  margin-bottom: 20px;
}

.input_text {
  width: 100px;
  padding: 5px;
  line-height: 10px;
  border-radius: 3px;
  border: red solid 1px;
  box-sizing: border-box;
}
